.grida{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "head nav nav";
}



nav{
    grid-area: nav;
    align-self: center;
    margin-top: 20px;
}

header img{
    grid-area: head;
    padding:20px;
}
nav ul{
    display: flex;
    justify-content: space-evenly;

    font-size: 20px;
    
}

.gridb{
    display:grid;
    grid-template-columns: 1fr 1fr;
}

main{
    grid-column: 1;
    padding:30px;
}