/* header{
    background-image:url(logo.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
} */

body{
    background-color: pink;
}
.wrapper{
    margin: 5vmin auto;
    padding-top: 4vmin;
    width: 90vw;
    border-radius: 25px;
    background-color:white;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.185);

}

nav ul{
    text-decoration: none;
    list-style-type: none;
}

main h1{
    color: #FA6797;
}

main h2{
    font-size:40px;
}


.button{
   
    background-color: #4B2BB7;
    color: white;
    border: 1px solid #4B2BB7;
    width: fit-content;
    border-radius: 25px;
    padding: 5px;
    margin-top: 0px;
    text-decoration: none;
}

.demo{
 

    color:#4B2BB7;
    border: 1px solid #4B2BB7;
    width: fit-content;
    border-radius: 25px;
    padding: 5px;
    margin: 0px;
    text-decoration: none;
}

input{
background: #828282;
}

footer{
    background: #4B2BB7;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    
}

img{
    width: 80%;

}