/* header{
    background-image:url(logo.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
} */

nav ul{
    text-decoration: none;
    list-style-type: none;
}

main h1{
    color: #FA6797;
}

main h2{
    font-size:40px;
}

.button{
    background-color: #4B2BB7;
    color: white;
    border: 1px solid #4B2BB7;
    width: fit-content;
    border-radius: 25px;
    padding: 5px;
    margin: 0;
}

.demo{
    color:#4B2BB7;
    border: 1px solid #4B2BB7;
    width: fit-content;
    border-radius: 25px;
    padding: 5px;
    margin: 0;
}

input{
background: #828282;
}